In [1]:
a=1

while a<=10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

In [7]:
#sum up the number till up some point

n=int(input("Enter your limit: "))
result=0
counter=1

while counter<=n:
    result=result+counter
    counter=counter+1
result

Enter your limit:  60

1830

In [8]:
# Factorial of number

In [12]:
num=int(input("Enter your number"))
factorial=1

while num>0:
    factorial=factorial*num
    num=num-1
    
factorial

Enter your number 5

120

In [24]:
# Fabnonacci Series
# 0,1,1,2,3,5,8,13,21,34

In [27]:
num=int(input("Enter number where till do yo want series: "))
a , b = 0, 1

counter=0

while counter<num:
    print(a)
    c=a+b
    a=b
    b=c
    counter=counter+1

Enter number where till do yo want series:  6

0
1
1
2
3
5

In [28]:
a=0
b=1

for i in range(10):
    print(a)
    c=a+b
    a=b
    b=c

0
1
1
2
3
5
8
13
21
34

In [29]:
#inverse the word

In [32]:
word=input("Enter your word : ")
reverse=''
l=len(word)

while l>0:
    reverse=reverse+word[l-1]
    l=l-1
print(reverse)

Enter your word :  saurabh

hbaruas

In [46]:
word=input("Enter your word : ")
reverse=''
for i in range(len(word)-1,-1,-1):
    reverse = reverse+word[i]
print(reverse)

Enter your word :  sun

nus

In [44]:
word = input("Enter your word: ")
reverse = ""
for i in range(len(word)-1, -1, -1):  # Iterate backward
    reverse += word[i]
print(reverse)

Enter your word:  sun

nus

In [50]:
word='saurabh'
len(word)-1,-1,-1

(6, -1, -1)

In [1]:
# print table of number

In [8]:
n=int(input("Enter table number : "))
for i in range(1,11):
    print(f'{i}x{n} = {i*n}')

Enter table number :  199

1x199 = 199
2x199 = 398
3x199 = 597
4x199 = 796
5x199 = 995
6x199 = 1194
7x199 = 1393
8x199 = 1592
9x199 = 1791
10x199 = 1990

In [3]:
n=int(input("Enter table number : "))
i=1
while i<=10:
    print(f'{n}*{i} = {i*n}')
    i=i+1

Enter table number :  5

5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50